<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="fragments :: headerfiles">
</head>

<body class="bg-dark">
	<header>
		<br> <br>
	</header>
	<h1 class="text-center text-white bg-dark">REPORTES</h1>
	<br>
	<br>
	<div class="container text-white">
		<div class="row">
			<div class="col-md-4 mx-auto">
				<div class="card">
					<div class="card-body">
						<a th:href="@{/reporte/ReporteUsuario}" style="text-decoration: none;"><button
								class="btn btn-outline-primary btn-block">
								<i class="fas fa-id-badge"></i> Listado de Usuarios
							</button></a> <br> <a th:href="@{/reporte/ReporteCliente}"
							style="text-decoration: none;"><button
								class="btn btn-outline-info btn-block">
								<i class="fas fa-address-book"></i> Listado de Clientes
							</button></a> <br> <a th:href="@{/reporte/ReporteVentasPorCliente}"
							style="text-decoration: none;"><button
								class="btn btn-outline-primary btn-block">
								<i class="fa fa-cart-arrow-down"></i> Ventas por clientes
							</button></a> <br> <a th:href="@{/}">
							<button type="button" th:href="@{/}"
								class="btn btn-outline-danger btn-block">
								<i class="fas fa-reply-all"></i> Volver al menu
							</button>
						</a>
					</div>
				</div>
				<div th:if="${error}"
					class="alert alert-danger alert-dismissible fade show mt-2"
					role="alert">
					<p th:text="${error}"></p>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div style="margin-bottom: 60px;"></div>
	<footer th:insert="fragments :: footer"></footer>
	<div th:insert="fragments :: scripts"></div>
</body>

</html> 