<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments :: headerfiles">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<header th:insert="fragments :: nav"></header>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4" sec:authorize="!isAuthenticated()">Debes iniciar sesión</h1>
        <h1 class="display-4" sec:authorize="isAuthenticated()"> Usuario: <span sec:authentication="name"></span></h1>
        <p class="lead">Vegetarian Shop 4.</p>
        <hr class="my-4">
        <!--<p>VEGETARIAN SHOP</p>-->
        <!--<a class="btn btn-primary btn-lg" href="#" role="button">Leer mas</a>-->
    </div>
</div>
<div style="margin-bottom: 60px;"></div>
<footer th:insert="fragments :: footer"></footer>
<div th:insert="fragments :: scripts"></div>
</body>
</html>